# dependencies
/node_modules

# testing
/coverage

# Vite
*.local

# production - do NOT ignore /dist as Django needs it for serving
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
