.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: whitesmoke;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.slider {
    display: flex;
    width: 600%;
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 5vh 0;
}

.slide ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide ul li {
    font-size: 3rem;
    padding: 40px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}



@media (max-width: 768px) {
    .slide ul li {
        font-size: 2rem;
        padding: 30px;
        background: #fff;
        border: 2px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        text-align: center;
    }
}

@media (max-width: 480px) {
    .slide ul li {
        font-size: 1rem;
        padding: 20px;
        background: #fff;
        border: 2px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        text-align: center;
    }
}